%h1 Changing your password

= form_for resource, url: user_registration_path, method: :put do |f|
  = devise_error_messages! 
  .field
    = f.label :email
    %br
    = f.email_field :email, autofocus: true, required: true
  .field
    = f.label :password
    %br
    = f.password_field :password, autocomplete: :off, required: true
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: :off, required: true
  .field
    = f.label :current_password
    %br
    = f.password_field :current_password, autocomplete: :off, required: true
  .actions
    = f.submit 'Update'
