%h1 Change Password

= form_for resource, as: resource_name, url: user_registration_path(resource), html: { method: :patch } do |f|
  - if resource.errors.present?
    = render 'devise/shared/error_messages', resource: resource
  .field
    = f.label :password
    = f.password_field :password, autocomplete: :off
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: :off
  .field
    = f.label :current_password
    = f.password_field :current_password, autocomplete: :off
  %i The default password is your last name.
  .actions= f.submit 'Change password'

= link_to 'Back', :back
