= form_with model: report, local: true do |form|
  - if report.errors.any?
    #error_explanation
      %h2
        This incident report has
        = pluralize(report.errors.count, 'missing value')
        and so cannot be marked as completed.
      %ul
        - report.errors.full_messages.each do |message|
          %li= message
  .basic-info
    - if current_user.staff?
      .field
        - if report == report.incident.driver_incident_report
          - label, users = 'Driver', User.active.name_order
        - else
          - label, users = 'Supervisor', User.active.supervisors.name_order
        = form.label :user_id, label
        = form.select :user_id,
          options_from_collection_for_select(users, :id, :proper_name, report.user_id),
          { include_blank: true }, id: :incident_report_user_id
    .field
      = form.label :occurred_at
      - a11y_datetime_labels('incident_report_occurred_at').each do |label|
        = label
      = form.datetime_select :occurred_at, id: :incident_report_occurred_at,
        prompt: true, ampm: true
    .field
      = form.label :run
      = form.text_field :run, id: :incident_report_run
      .example C57; VATCo always uses CAPITAL route letter and number; no symbols
    .field
      = form.label :block
      = form.text_field :block, id: :incident_report_block
      .example 1-03, 90-06; VATCo is four digits with no symbols
    .field
      = form.label :route
      = form.text_field :route, id: :incident_report_route
    .field
      = form.label :bus
      = form.text_field :bus, id: :incident_report_bus
      .example 1803
    .field
      = form.label :passengers_onboard
      = form.number_field :passengers_onboard, id: :incident_report_passengers_onboard, min: 0
    .field
      = form.label :courtesy_cards_distributed
      = form.number_field :courtesy_cards_distributed, id: :incident_report_courtesy_cards_distributed, min: 0
    .field
      = form.label :courtesy_cards_collected
      = form.number_field :courtesy_cards_collected, id: :incident_report_courtesy_cards_collected, min: 0
    .field
      = form.label :speed
      = form.number_field :speed, id: :incident_report_speed, min: 0
    .field
      = form.label :location
      = form.text_field :location, id: :incident_report_location
      .example Mill and Locust
    .field
      = form.label :direction
      = form.select :direction,
        options_for_select(IncidentReport::DIRECTIONS.invert, report.direction),
        { include_blank: true }, id: :incident_report_direction
    .field
      = form.label :town
      = form.select :town,
        options_for_select(IncidentReport::TOWN_OPTIONS, report.town),
        { include_blank: true }, id: :incident_report_town
    .field
      = form.label :zip
      = form.text_field :zip, id: :incident_report_zip
    .field
      = form.label :weather_conditions
      = form.select :weather_conditions,
        options_for_select(IncidentReport::WEATHER_OPTIONS, report.weather_conditions),
        { include_blank: true }, id: :incident_report_weather_conditions
    .field
      = form.label :road_conditions
      = form.select :road_conditions,
        options_for_select(IncidentReport::ROAD_OPTIONS, report.road_conditions),
        { include_blank: true }, id: :incident_report_road_conditions
    .field
      = form.label :light_conditions
      = form.select :light_conditions,
        options_for_select(IncidentReport::LIGHT_OPTIONS, report.light_conditions),
        { include_blank: true }, id: :incident_report_light_conditions
    .field
      = form.label :headlights_used?
      = form.check_box :headlights_used, id: :incident_report_headlights_used
    - if report == @incident.supervisor_incident_report
      .field
        = form.label :posted_speed_limit
        = form.number_field :posted_speed_limit, id: :incident_report_posted_speed_limit, min: 0
      .field
        = form.label :surface_type
        = form.select :surface_type,
          options_for_select(IncidentReport::SURFACE_TYPE_OPTIONS, report.surface_type),
          { include_blank: true }, id: :incident_report_surface_type
      .field
        = form.label :surface_grade
        = form.select :surface_grade,
          options_for_select(IncidentReport::SURFACE_GRADE_OPTIONS, report.surface_grade),
          { include_blank: true }, id: :incident_report_surface_grade
      .field
        = form.label :credentials_exchanged?
        = form.check_box :credentials_exchanged, id: :incident_report_credentials_exchanged
      .field
        = form.label :summons_or_warning_issued?
        = form.check_box :summons_or_warning_issued, id: :incident_report_summons_or_warning_issued
      .summons-info{style: ('display: none;' unless report.summons_or_warning_issued?)}
        .field
          = form.label :summons_or_warning_info
          = form.text_area :summons_or_warning_info, id: :incident_report_summons_or_warning_info,
            size: '80x4'
    .field
      = form.label :motor_vehicle_collision?
      = form.check_box :motor_vehicle_collision, id: :incident_report_motor_vehicle_collision
  .motor-vehicle-collision-info{style: ('display: none;' unless report.motor_vehicle_collision?)}
    %h3 Motor Vehicle Collision Information
    .field
      = form.label :other_vehicle_plate
      = form.text_field :other_vehicle_plate, id: :incident_report_other_vehicle_plate
    .field
      = form.label :other_vehicle_state
      = form.text_field :other_vehicle_state, id: :incident_report_other_vehicle_state
    .field
      = form.label :other_vehicle_make
      = form.text_field :other_vehicle_make, id: :incident_report_other_vehicle_make
    .field
      = form.label :other_vehicle_model
      = form.text_field :other_vehicle_model, id: :incident_report_other_vehicle_model
    .field
      = form.label :other_vehicle_year
      = form.text_field :other_vehicle_year, id: :incident_report_other_vehicle_year
    .field
      = form.label :other_vehicle_color
      = form.text_field :other_vehicle_color, id: :incident_report_other_vehicle_color
    .field
      = form.label :other_vehicle_passengers
      = form.number_field :other_vehicle_passengers, id: :incident_report_other_vehicle_passengers, min: 0
    .field
      = form.label :other_vehicle_direction
      = form.select :other_vehicle_direction,
        options_for_select(IncidentReport::DIRECTIONS.invert, report.other_vehicle_direction),
        { include_blank: true }, id: :incident_report_other_vehicle_direction
    .field
      = form.label :other_driver_name
      = form.text_field :other_driver_name, id: :incident_report_other_driver_name
    .field
      = form.label :other_driver_license_number
      = form.text_field :other_driver_license_number, id: :incident_report_other_driver_license_number
    .field
      = form.label :other_driver_license_state
      = form.text_field :other_driver_license_state, id: :incident_report_other_driver_license_state
    .field
      = form.label :other_vehicle_driver_address
      = form.text_field :other_vehicle_driver_address, id: :incident_report_other_vehicle_driver_address
    .field
      = form.label :other_vehicle_driver_address_town
      = form.text_field :other_vehicle_driver_address_town, id: :incident_report_other_vehicle_driver_address_town
    .field
      = form.label :other_vehicle_driver_address_state
      = form.text_field :other_vehicle_driver_address_state, id: :incident_report_other_vehicle_driver_address_state
    .field
      = form.label :other_vehicle_driver_address_zip
      = form.text_field :other_vehicle_driver_address_zip, id: :incident_report_other_vehicle_driver_address_zip
    .field
      = form.label :other_vehicle_driver_home_phone
      = form.text_field :other_vehicle_driver_home_phone, id: :incident_report_other_vehicle_driver_home_phone
    .field
      = form.label :other_vehicle_driver_cell_phone
      = form.text_field :other_vehicle_driver_cell_phone, id: :incident_report_other_vehicle_driver_cell_phone
    .field
      = form.label :other_vehicle_driver_work_phone
      = form.text_field :other_vehicle_driver_work_phone, id: :incident_report_other_vehicle_driver_work_phone
    .field
      = form.label :other_vehicle_owned_by_other_driver?
      = form.check_box :other_vehicle_owned_by_other_driver, id: :incident_report_other_vehicle_owned_by_other_driver
    .other-vehicle-owner-info{style: ('display: none;' if report.other_vehicle_owned_by_other_driver?)}
      .field
        = form.label :other_vehicle_owner_name
        = form.text_field :other_vehicle_owner_name, id: :incident_report_other_vehicle_owner_name
      .field
        = form.label :other_vehicle_owner_address
        = form.text_field :other_vehicle_owner_address, id: :incident_report_other_vehicle_owner_address
      .field
        = form.label :other_vehicle_owner_address_town
        = form.text_field :other_vehicle_owner_address_town, id: :incident_report_other_vehicle_owner_address_town
      .field
        = form.label :other_vehicle_owner_address_state
        = form.text_field :other_vehicle_owner_address_state, id: :incident_report_other_vehicle_owner_address_state
      .field
        = form.label :other_vehicle_owner_address_zip
        = form.text_field :other_vehicle_owner_address_zip, id: :incident_report_other_vehicle_owner_address_zip
      .field
        = form.label :other_vehicle_owner_home_phone
        = form.text_field :other_vehicle_owner_home_phone, id: :incident_report_other_vehicle_owner_home_phone
      .field
        = form.label :other_vehicle_owner_cell_phone
        = form.text_field :other_vehicle_owner_cell_phone, id: :incident_report_other_vehicle_owner_cell_phone
      .field
        = form.label :other_vehicle_owner_work_phone
        = form.text_field :other_vehicle_owner_work_phone, id: :incident_report_other_vehicle_owner_work_phone
    .field
      = form.label :towed_from_scene
      = form.check_box :towed_from_scene, id: :incident_report_towed_from_scene
    .field
      = form.label :other_vehicle_towed_from_scene
      = form.check_box :other_vehicle_towed_from_scene, id: :incident_report_other_vehicle_towed_from_scene
    .field
      = form.label :police_on_scene?
      = form.check_box :police_on_scene, id: :incident_report_police_on_scene
    .police-info{style: ('display: none;' unless report.police_on_scene?)}
      .field
        = form.label :police_badge_number
        = form.text_field :police_badge_number, id: :incident_report_police_badge_number
      .field
        = form.label :police_town_or_state
        = form.text_field :police_town_or_state, id: :incident_report_police_town_or_state
      .field
        = form.label :police_case_assigned
        = form.text_field :police_case_assigned, id: :incident_report_police_case_assigned
        .example 17-123-AC
    .field
      = form.label :point_of_impact
      = form.select :point_of_impact,
        options_for_select(IncidentReport::IMPACT_LOCATION_OPTIONS, report.point_of_impact),
        { include_blank: true }, id: :incident_report_point_of_impact
    .field
      = form.label :damage_to_bus_point_of_impact
      = form.text_field :damage_to_bus_point_of_impact, id: :incident_report_damage_to_bus_point_of_impact
    .field
      = form.label :damage_to_other_vehicle_point_of_impact
      = form.text_field :damage_to_other_vehicle_point_of_impact, id: :incident_report_damage_to_other_vehicle_point_of_impact
    .field
      = form.label :insurance_carrier
      = form.text_field :insurance_carrier, id: :incident_report_insurance_carrier
      .example Progressive
    .field
      = form.label :insurance_policy_number
      = form.text_field :insurance_policy_number, id: :incident_report_insurance_policy_number
    .field
      = form.label :insurance_effective_date
      - a11y_date_labels('report_insurance_effective_date').each do |label|
        = label
      = form.date_select :insurance_effective_date, id: :incident_report_insurance_effective_date,
        prompt: true
  .field
    = form.label :passenger_incident?
    = form.check_box :passenger_incident, id: :incident_report_passenger_incident
  .passenger-incident-info{style: ('display: none;' unless report.passenger_incident?)}
    %h3 Passenger Incident Information
    .field
      = form.label :inj_pax_info
      = form.check_box :inj_pax_info, checked: report.has_injured_passengers?,
        id: :supervisor_report_inj_pax_info
    .inj-pax-info{style: ('display: none;' unless report.has_injured_passengers?)}
      %h3 Injured Passenger Info
      = form.fields_for :injured_passengers do |pax_form|
        .pax-fields
          .field
            = pax_form.label :name
            = pax_form.text_field :name
            = pax_form.label :address
            = pax_form.text_field :address
          .field
            = pax_form.label :nature_of_injury
            = pax_form.text_field :nature_of_injury
            = pax_form.label :transported_to_hospital
            = pax_form.check_box :transported_to_hospital
          .field
            = pax_form.label :home_phone
            = pax_form.text_field :home_phone
            = pax_form.label :cell_phone
            = pax_form.text_field :cell_phone
            = pax_form.label :work_phone
            = pax_form.text_field :work_phone
      %button.btn-default.add-pax Add injured passenger info
      %button.btn-default.delete-pax Delete injured passenger info
    %b Where / how did the incident occur? Check all that apply.
    .field
      = form.label :occurred_front_door?
      = form.check_box :occurred_front_door, id: :incident_report_occurred_front_door
    .field
      = form.label :occurred_rear_door?
      = form.check_box :occurred_rear_door, id: :incident_report_occurred_rear_door
    .field
      = form.label :occurred_front_steps?
      = form.check_box :occurred_front_steps, id: :incident_report_occurred_front_steps
    .field
      = form.label :occurred_rear_steps?
      = form.check_box :occurred_rear_steps, id: :incident_report_occurred_rear_steps
    .field
      = form.label :occurred_sudden_stop?
      = form.check_box :occurred_sudden_stop, id: :incident_report_occurred_sudden_stop
    .field
      = form.label :occurred_before_boarding?
      = form.check_box :occurred_before_boarding, id: :incident_report_occurred_before_boarding
    .field
      = form.label :occurred_while_boarding?
      = form.check_box :occurred_while_boarding, id: :incident_report_occurred_while_boarding
    .field
      = form.label :occurred_after_boarding?
      = form.check_box :occurred_after_boarding, id: :incident_report_occurred_after_boarding
    .field
      = form.label :occurred_while_exiting?
      = form.check_box :occurred_while_exiting, id: :incident_report_occurred_while_exiting
    .field
      = form.label :occurred_after_exiting?
      = form.check_box :occurred_after_exiting, id: :incident_report_occurred_after_exiting
    .field
      = form.label :motion_of_bus
      = form.select :motion_of_bus,
        options_for_select(IncidentReport::BUS_MOTION_OPTIONS, report.motion_of_bus),
        { include_blank: true }, id: :incident_report_motion_of_bus
    .field
      = form.label :condition_of_steps
      = form.select :condition_of_steps,
        options_for_select(IncidentReport::STEP_CONDITION_OPTIONS, report.condition_of_steps),
        { include_blank: true }, id: :incident_report_condition_of_steps
    .field
      = form.label :bus_kneeled?
      = form.check_box :bus_kneeled, id: :incident_report_bus_kneeled
    .field
      = form.label :bus_up_to_curb?
      = form.check_box :bus_up_to_curb, id: :incident_report_bus_up_to_curb
    - if report == @incident.supervisor_incident_report
      .field
        = form.label :bus_distance_from_curb
        = form.number_field :bus_distance_from_curb, id: :incident_report_bus_distance_from_curb
    .reason-not-up-to-curb-info{style: ('display: none;' unless report.needs_reason_not_up_to_curb?)}
      .field
        = form.label :reason_not_up_to_curb
        = form.text_field :reason_not_up_to_curb, id: :incident_report_reason_not_up_to_curb
      .field
        = form.label :vehicle_in_bus_stop_plate
        = form.text_field :vehicle_in_bus_stop_plate, id: :incident_report_vehicle_in_bus_stop_plate
  .field
    = form.label :description
    = form.text_area :description, id: :incident_report_description, size: '80x8'
  .actions
    - if @current_user == @incident.driver
      = form.submit 'Save report and preview PDF',
      data: {confirm: 'You are about to preview the report. Please don’t forget to print, sign, and submit it.'}
    - else
      = form.submit 'Save report'
