= form_with model: incident, local: true do |form|
  - if incident.errors.any?
    #error_explanation
      %h2
        This incident has
        = pluralize(incident.errors.count, 'missing value')
        and so cannot be marked as completed.
      %ul
        - incident.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :reason_code_id
    = form.select :reason_code_id,
      options_from_collection_for_select(ReasonCode.order(:identifier), :id, :full_label, incident.reason_code),
      { include_blank: true }, id: :incident_reason_code_id
  .field
    = form.label :completed
    = form.check_box :completed, id: :incident_completed
  .field
    = form.label :claim_number
    = form.text_field :claim_number, id: :incident_claim_number
  .actions= form.submit 'Save incident details'
