= form_with(model: incident, local: true) do |form|
  - if incident.errors.any?
    #error_explanation
      %h2
        This incident report has
        = pluralize(incident.errors.count, "missing values")
        and so cannot be marked as completed.
      %ul
        - incident.errors.full_messages.each do |message|
          %li= message
  - if incident.persisted?
    .basic-info
      .field
        = form.label :run
        = form.text_field :run, id: :incident_run
      .field
        = form.label :block
        = form.text_field :block, id: :incident_block
      .field
        = form.label :bus
        = form.text_field :bus, id: :incident_bus
      .field
        = form.label :occurred_at
        = form.datetime_select :occurred_at, id: :incident_occurred_at
      .field
        = form.label :passengers_onboard
        = form.number_field :passengers_onboard, id: :incident_passengers_onboard
      .field
        = form.label :courtesy_cards_distributed
        = form.number_field :courtesy_cards_distributed, id: :incident_courtesy_cards_distributed
      .field
        = form.label :courtesy_cards_collected
        = form.number_field :courtesy_cards_collected, id: :incident_courtesy_cards_collected
      .field
        = form.label :speed
        = form.number_field :speed, id: :incident_speed
      .field
        = form.label :location
        = form.text_field :location, id: :incident_location
      .field
        = form.label :town
        = form.text_field :town, id: :incident_town
      .field
        = form.label :motor_vehicle_collision
        = form.check_box :motor_vehicle_collision, id: :incident_motor_vehicle_collision
      .field
        = form.label :passenger_incident
        = form.check_box :passenger_incident, id: :incident_passenger_incident
      .field
        = form.label :weather_conditions
        = form.select :weather_conditions,
          options_for_select(Incident::WEATHER_OPTIONS, incident.weather_conditions),
          { include_blank: true }, id: :incident_weather_conditions
      .field
        = form.label :road_conditions
        = form.select :road_conditions,
          options_for_select(Incident::ROAD_OPTIONS, incident.road_conditions),
          { include_blank: true }, id: :incident_road_conditions
      .field
        = form.label :light_conditions
        = form.select :light_conditions,
          options_for_select(Incident::LIGHT_OPTIONS, incident.light_conditions),
          { include_blank: true }, id: :incident_light_conditions
      .field
        = form.label :headlights_used
        = form.check_box :headlights_used, id: :incident_headlights_used
    .motor-vehicle-collision-info{style: ('display: none;' unless incident.motor_vehicle_collision?)}
      %h3 Motor Vehicle Collision Information
      .field
        = form.label :other_vehicle_plate
        = form.text_field :other_vehicle_plate, id: :incident_other_vehicle_plate
      .field
        = form.label :other_vehicle_state
        = form.text_field :other_vehicle_state, id: :incident_other_vehicle_state
      .field
        = form.label :other_vehicle_make
        = form.text_field :other_vehicle_make, id: :incident_other_vehicle_make
      .field
        = form.label :other_vehicle_model
        = form.text_field :other_vehicle_model, id: :incident_other_vehicle_model
      .field
        = form.label :other_vehicle_year
        = form.text_field :other_vehicle_year, id: :incident_other_vehicle_year
      .field
        = form.label :other_vehicle_color
        = form.text_field :other_vehicle_color, id: :incident_other_vehicle_color
      .field
        = form.label :other_vehicle_passengers
        = form.number_field :other_vehicle_passengers, id: :incident_other_vehicle_passengers
      .field
        = form.label :direction
        = form.select :direction,
          options_for_select(Incident::DIRECTION_OPTIONS, incident.direction),
          { include_blank: true }, id: :incident_direction
      .field
        = form.label :other_vehicle_direction
        = form.select :other_vehicle_direction,
          options_for_select(Incident::DIRECTION_OPTIONS, incident.other_vehicle_direction),
          { include_blank: true }, id: :incident_other_vehicle_direction
      .field
        = form.label :other_driver_name
        = form.text_field :other_driver_name, id: :incident_other_driver_name
      .field
        = form.label :other_driver_license_number
        = form.text_field :other_driver_license_number, id: :incident_other_driver_license_number
      .field
        = form.label :other_driver_license_state
        = form.text_field :other_driver_license_state, id: :incident_other_driver_license_state
      .field
        = form.label :other_vehicle_driver_address
        = form.text_field :other_vehicle_driver_address, id: :incident_other_vehicle_driver_address
      .field
        = form.label :other_vehicle_driver_address_town
        = form.text_field :other_vehicle_driver_address_town, id: :incident_other_vehicle_driver_address_town
      .field
        = form.label :other_vehicle_driver_address_state
        = form.text_field :other_vehicle_driver_address_state, id: :incident_other_vehicle_driver_address_state
      .field
        = form.label :other_vehicle_driver_address_zip
        = form.text_field :other_vehicle_driver_address_zip, id: :incident_other_vehicle_driver_address_zip
      .field
        = form.label :other_vehicle_driver_home_phone
        = form.text_field :other_vehicle_driver_home_phone, id: :incident_other_vehicle_driver_home_phone
      .field
        = form.label :other_vehicle_driver_cell_phone
        = form.text_field :other_vehicle_driver_cell_phone, id: :incident_other_vehicle_driver_cell_phone
      .field
        = form.label :other_vehicle_driver_work_phone
        = form.text_field :other_vehicle_driver_work_phone, id: :incident_other_vehicle_driver_work_phone
      .field
        = form.label :other_vehicle_owned_by_other_driver
        = form.check_box :other_vehicle_owned_by_other_driver, id: :incident_other_vehicle_owned_by_other_driver
      .other-vehicle-owner-info{style: ('display: none;' if incident.other_vehicle_owned_by_other_driver?)}
        .field
          = form.label :other_vehicle_owner_name
          = form.text_field :other_vehicle_owner_name, id: :incident_other_vehicle_owner_name
        .field
          = form.label :other_vehicle_owner_address
          = form.text_field :other_vehicle_owner_address, id: :incident_other_vehicle_owner_address
        .field
          = form.label :other_vehicle_owner_address_town
          = form.text_field :other_vehicle_owner_address_town, id: :incident_other_vehicle_owner_address_town
        .field
          = form.label :other_vehicle_owner_address_state
          = form.text_field :other_vehicle_owner_address_state, id: :incident_other_vehicle_owner_address_state
        .field
          = form.label :other_vehicle_owner_address_zip
          = form.text_field :other_vehicle_owner_address_zip, id: :incident_other_vehicle_owner_address_zip
        .field
          = form.label :other_vehicle_owner_home_phone
          = form.text_field :other_vehicle_owner_home_phone, id: :incident_other_vehicle_owner_home_phone
        .field
          = form.label :other_vehicle_owner_cell_phone
          = form.text_field :other_vehicle_owner_cell_phone, id: :incident_other_vehicle_owner_cell_phone
        .field
          = form.label :other_vehicle_owner_work_phone
          = form.text_field :other_vehicle_owner_work_phone, id: :incident_other_vehicle_owner_work_phone
      .field
        = form.label :police_on_scene
        = form.check_box :police_on_scene, id: :incident_police_on_scene
      .police-info{style: ('display: none;' unless incident.police_on_scene?)}
        .field
          = form.label :police_badge_number
          = form.text_field :police_badge_number, id: :incident_police_badge_number
        .field
          = form.label :police_town_or_state
          = form.text_field :police_town_or_state, id: :incident_police_town_or_state
        .field
          = form.label :police_case_assigned
          = form.text_field :police_case_assigned, id: :incident_police_case_assigned
      .field
        = form.label :damage_to_bus_point_of_impact
        = form.text_field :damage_to_bus_point_of_impact, id: :incident_damage_to_bus_point_of_impact
      .field
        = form.label :damage_to_other_vehicle_point_of_impact
        = form.text_field :damage_to_other_vehicle_point_of_impact, id: :incident_damage_to_other_vehicle_point_of_impact
      .field
        = form.label :insurance_carrier
        = form.text_field :insurance_carrier, id: :incident_insurance_carrier
      .field
        = form.label :insurance_policy_number
        = form.text_field :insurance_policy_number, id: :incident_insurance_policy_number
      .field
        = form.label :insurance_effective_date
        = form.date_select :insurance_effective_date, id: :incident_insurance_effective_date
    .passenger-incident-info{style: ('display: none;' unless incident.passenger_incident?)}
      %h3 Passenger Incident Information
      %b Where / how did the incident occur? Check all that apply.
      .field
        = form.label :occurred_front_door
        = form.check_box :occurred_front_door, id: :incident_occurred_front_door
      .field
        = form.label :occurred_rear_door
        = form.check_box :occurred_rear_door, id: :incident_occurred_rear_door
      .field
        = form.label :occurred_front_steps
        = form.check_box :occurred_front_steps, id: :incident_occurred_front_steps
      .field
        = form.label :occurred_rear_steps
        = form.check_box :occurred_rear_steps, id: :incident_occurred_rear_steps
      .field
        = form.label :occurred_sudden_stop
        = form.check_box :occurred_sudden_stop, id: :incident_occurred_sudden_stop
      .field
        = form.label :occurred_before_boarding
        = form.check_box :occurred_before_boarding, id: :incident_occurred_before_boarding
      .field
        = form.label :occurred_while_boarding
        = form.check_box :occurred_while_boarding, id: :incident_occurred_while_boarding
      .field
        = form.label :occurred_after_boarding
        = form.check_box :occurred_after_boarding, id: :incident_occurred_after_boarding
      .field
        = form.label :occurred_while_exiting
        = form.check_box :occurred_while_exiting, id: :incident_occurred_while_exiting
      .field
        = form.label :occurred_after_exiting
        = form.check_box :occurred_after_exiting, id: :incident_occurred_after_exiting
      .field
        = form.label :motion_of_bus
        = form.select :motion_of_bus,
          options_for_select(Incident::BUS_MOTION_OPTIONS, incident.motion_of_bus),
          { include_blank: true }, id: :incident_motion_of_bus
      .field
        = form.label :condition_of_steps
        = form.select :condition_of_steps,
          options_for_select(Incident::STEP_CONDITION_OPTIONS, incident.condition_of_steps),
          { include_blank: true }, id: :incident_condition_of_steps
      .field
        = form.label :bus_kneeled
        = form.check_box :bus_kneeled, id: :incident_bus_kneeled
      .field
        = form.label :bus_up_to_curb
        = form.check_box :bus_up_to_curb, id: :incident_bus_up_to_curb
      .reason-not-up-to-curb-info{style: ('display: none;' unless incident.needs_reason_not_up_to_curb?)}
        .field
          = form.label :reason_not_up_to_curb
          = form.text_field :reason_not_up_to_curb, id: :incident_reason_not_up_to_curb
        .field
          = form.label :vehicle_in_bus_stop_plate
          = form.text_field :vehicle_in_bus_stop_plate, id: :incident_vehicle_in_bus_stop_plate
      .field
        = form.label :passenger_injured
        = form.check_box :passenger_injured, id: :incident_passenger_injured
      .injured-passenger-info{style: ('display: none;' unless incident.injured_passenger.present?)}
        = form.fields_for :injured_passenger do |pax_fields|
          .field
            = pax_fields.label :name
            = pax_fields.text_field :name
          .field
            = pax_fields.label :address
            = pax_fields.text_field :address
          .field
            = pax_fields.label :town
            = pax_fields.text_field :town
          .field
            = pax_fields.label :state
            = pax_fields.text_field :state
          .field
            = pax_fields.label :zip
            = pax_fields.text_field :zip
          .field
            = pax_fields.label :phone
            = pax_fields.text_field :phone
    .field
      = form.label :description
      = form.text_area :description, id: :incident_description, size: '80x8'
    - if current_user.staff?
      = form.label :completed
      = form.check_box :completed, id: :incident_completed
  - else
    .field
      = form.label :driver
      = form.select :driver_id,
        options_from_collection_for_select(User.active.drivers.order(:name), :id, :name, incident.driver_id),
        { include_blank: true }, id: :incident_driver_id
    The driver will be able to fill in the remaining details.
  .actions
    = form.submit 'Save Incident'
