<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :driver %>
    <%= form.text_field :driver, id: :incident_driver %>
  </div>

  <div class="field">
    <%= form.label :occurred_at %>
    <%= form.datetime_select :occurred_at, id: :incident_occurred_at %>
  </div>

  <div class="field">
    <%= form.label :shift %>
    <%= form.text_field :shift, id: :incident_shift %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.text_field :route, id: :incident_route %>
  </div>

  <div class="field">
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle, id: :incident_vehicle %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :incident_location %>
  </div>

  <div class="field">
    <%= form.label :action_before %>
    <%= form.text_field :action_before, id: :incident_action_before %>
  </div>

  <div class="field">
    <%= form.label :action_during %>
    <%= form.text_field :action_during, id: :incident_action_during %>
  </div>

  <div class="field">
    <%= form.label :weather_conditions %>
    <%= form.text_field :weather_conditions, id: :incident_weather_conditions %>
  </div>

  <div class="field">
    <%= form.label :light_conditions %>
    <%= form.text_field :light_conditions, id: :incident_light_conditions %>
  </div>

  <div class="field">
    <%= form.label :road_conditions %>
    <%= form.text_field :road_conditions, id: :incident_road_conditions %>
  </div>

  <div class="field">
    <%= form.label :camera_used %>
    <%= form.check_box :camera_used, id: :incident_camera_used %>
  </div>

  <div class="field">
    <%= form.label :injuries %>
    <%= form.check_box :injuries, id: :incident_injuries %>
  </div>

  <div class="field">
    <%= form.label :damage %>
    <%= form.check_box :damage, id: :incident_damage %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :incident_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
