- report = incident.driver_incident_report
%accident_incident
  - if report.block.present?
    %ai_block= report.block
  - if incident.reason_code.present?
    %ai_code= incident.reason_code.identifier
  - if incident.root_cause_analysis.present?
    %ai_commentary= incident.root_cause_analysis
  - if report.occurred_at.present?
    %ai_date_occured= report.occurred_at.strftime '%Y-%m-%d'
    %ai_time_occured= report.occurred_at.strftime '2000-01-01T%H:%M:00.000'
    %ai_occured_year= report.occurred_at.year
  - if report.direction.present? && report.direction != 'NA'
    %ai_direction= report.direction
  - if report.town.present?
    %ai_district= report.town
  %ai_division= incident.division.name
  %ai_dvr_pulled= incident.video_pulled?
  %ai_employee= report.user.badge_number
  %ai_preventability= incident.preventable? ? 'PREVENTABLE' : 'NON_PREVENTABLE'
  - if report.route.present?
    %ai_route= report.route
  - if report.point_of_impact.present?
    %ai_point_of_impact= report.point_of_impact
  %ai_report_final_date= Time.zone.now.strftime '%Y-%m-%d'
  %ai_report_final_time= Time.zone.now.strftime '2000-01-01T%H:%M:00.000'
  - if incident.supplementary_reason_code.present?
    %ai_second_code= incident.supplementary_reason_code.try :identifier
  - if report.location.present?
    %ai_street= report.location
  %ai_type_situation= report.type_situation
  - if report.bus.present?
    %ai_vehicle= report.bus
