%hr
%h3 Staff Review

- @staff_reviews.each do |review|
  .staff-review
    .data
      .staff-name= review.user.name
      .time= review.timestamp
    .text= simple_format review.text
    - if current_user == review.user
      = form_with model: review, local: true, class: 'edit-review' do |form|
        .field
          = form.label :text_edit, 'Edit your review', class: 'a11y-read'
          = form.text_area :text, id: :staff_review_text_edit
        .actions= form.submit 'Save', class: 'btn btn-default btn-lg'
      %button.btn.btn-default.edit Edit
      = link_to review, method: :delete, class: 'delete' do
        %button.btn.btn-default.delete Delete

- if current_user.staff?
  = form_with model: StaffReview.new, local: true, class: 'new-review' do |form|
    .field
      = form.label :text, 'Add your review', class: 'a11y-read'
      = form.text_area :text, placeholder: 'Add your review...',
        id: :staff_review_text
    = form.hidden_field :incident_id, value: @incident.id
    .actions= form.submit 'Create staff review', class: 'btn btn-primary btn-lg'
