%table.incidents
  %thead
    %tr
      %th Driver
      %th{ colspan: 2 } Occurred at
      %th Shift
      %th Route
      %th Vehicle
      %th Location
      - if current_user.staff?
        %th{ colspan: 3 }
      - else
        %th{ colspan: 2 }
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= incident.driver.name
        - if incident.completed?
          %td= incident.occurred_date
          %td= incident.occurred_time
          %td= incident.shift
          %td= incident.route
          %td= incident.vehicle
          %td= incident.location
          %td
            = link_to incident do
              %button.btn.btn-default View
          %td
            = link_to edit_incident_path(incident) do
              %button.btn.btn-default Edit
        - else
          %td{ colspan: 6 }
            %em Not yet completed
          %td{ colspan: 2 }
            = link_to edit_incident_path(incident) do
              %button.btn.btn-default Complete
        - if current_user.staff?
          %td
            = link_to incident, method: :delete do
              %button.btn.btn-default Delete
