- if @incidents.present?
  %table.incidents
    %thead
      %tr
        %th Driver
        %th Supervisor
        %th Occurred at
        %th Claim #
        %th Run
        %th Bus
        %th Location
        %th Complete?
        - if current_user.staff?
          %th{ colspan: 5 }
        - if current_user.supervisor?
          %th{ colspan: 4 }
        - else
          %th{ colspan: 3 }
    %tbody
      - @incidents.each do |incident|
        %tr{data: { division: incident.division.name }}
          %td= incident.driver.proper_name
          %td= incident.supervisor.try :proper_name
          %td= incident.occurred_at_readable
          %td= incident.claim_number
          %td= incident.driver_incident_report.run
          %td= incident.driver_incident_report.bus
          %td= incident.driver_incident_report.location
          %td= yes_no_image incident.completed?
          - unless current_user.driver?
            %td
              - if incident.unclaimed?
                = link_to claim_incident_url(incident), method: :post do
                  %button.btn.btn-default Claim

          %td
            = link_to incident_url(incident, format: :pdf) do
              %button.btn.btn-default Print
          %td
            = link_to incident do
              %button.btn.btn-default
                - if current_user.staff? && incident.completed?
                  View / Review
                - else
                  View
          %td
            - if current_user.staff? || !incident.reviewed?
              = link_to edit_incident_url(incident) do
                %button.btn.btn-default
                  - if incident.completed?
                    Edit
                  - else
                    Complete
          - if current_user.staff?
            %td
              = link_to incident, method: :delete do
                %button.btn.btn-default.delete Delete
- else
  %h2
    - if current_user.staff?
      No incidents found.
    - else
      You have no incident reports that need attention.
