- if @incident.errors.present?
  #error_explanation
    %ul
      - @incident.errors.full_messages.each do |message|
        %li= message
%h1
  - if @incident.completed?
    Editing
  - else
    Completing
  Incident Report
%hr
- if @current_user.staff?
  %h2 Incident Details
  = render 'incidents/form', incident: @incident
%hr
- if @current_user == @incident.driver || @current_user.staff?
  = link_to 'Edit Driver Account of Incident',
    edit_incident_report_url(@incident.driver_incident_report)
- if @incident.supervisor.present?
  - if @current_user == @incident.supervisor || @current_user.staff?
    = link_to 'Edit Supervisor Account of Incident',
      edit_incident_report_url(@incident.supervisor_incident_report)
    = link_to 'Edit Supervisor Report',
      edit_supervisor_report_url(@incident.supervisor_report)
- elsif @current_user.supervisor? || @current_user.staff?
  %h3 Assign a supervisor...
  = render 'incidents/add_supervisor', incident: @incident
= link_to 'Show', @incident
|
= link_to 'Back', incidents_url
