%h1
  - if @incident.completed?
    Editing
  - else
    Completing
  Incident Report
- if @current_user == @incident.driver || @current_user.staff?
  - if @current_user.staff?
    %h2 Driver Report
  = render 'incident_reports/form',
    report: @incident.driver_incident_report
- if @current_user == @incident.supervisor || @current_user.staff?
  - if @current_user.staff?
    %h2 Supervisor Report
  = render 'incident_reports/form',
    report: @incident.supervisor_incident_report
  = render 'supervisor_reports/form',
    report: @incident.supervisor_report
- if @current_user.staff?
  %h2 Incident Details
  = render 'form', incident: @incident
= link_to 'Show', @incident
|
= link_to 'Back', incidents_path
