%h1 Incidents
%table.incidents
  %thead
    %tr
      %th Driver
      %th Occurred at
      %th Shift
      %th Route
      %th Vehicle
      %th Location
      - if current_user.staff?
        %th{ colspan: 3 }
      - else
        %th{ colspan: 2 }
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= incident.driver
        %td= incident.occurred_at_readable
        %td= incident.shift
        %td= incident.route
        %td= incident.vehicle
        %td= incident.location
        %td
          = link_to incident do
            %button.btn.btn-default View
        %td
          = link_to edit_incident_path(incident) do
            %button.btn.btn-default Edit
        - if current_user.staff?
          %td
            = link_to incident, method: :delete do
              %button.btn.btn-default Delete
- if current_user.staff?
  %br
  = link_to 'New Incident', new_incident_path
