%p#notice= notice
%h1 Incidents
%table.incidents
  %thead
    %tr
      %th Driver
      %th Occurred at
      %th Shift
      %th Route
      %th Vehicle
      %th Location
      %th{ colspan: 3 }
  %tbody
    - @incidents.each do |incident|
      %tr
        %td= incident.driver
        %td= incident.occurred_at
        %td= incident.shift
        %td= incident.route
        %td= incident.vehicle
        %td= incident.location
        %td= link_to 'Show', incident
        %td= link_to 'Edit', edit_incident_path(incident)
        %td= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' }
%br
= link_to 'New Incident', new_incident_path
