<p id="notice"><%= notice %></p>

<h1>Incidents</h1>

<table>
  <thead>
    <tr>
      <th>Driver</th>
      <th>Occurred at</th>
      <th>Shift</th>
      <th>Route</th>
      <th>Vehicle</th>
      <th>Location</th>
      <th>Action before</th>
      <th>Action during</th>
      <th>Weather conditions</th>
      <th>Light conditions</th>
      <th>Road conditions</th>
      <th>Camera used</th>
      <th>Injuries</th>
      <th>Damage</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incidents.each do |incident| %>
      <tr>
        <td><%= incident.driver %></td>
        <td><%= incident.occurred_at %></td>
        <td><%= incident.shift %></td>
        <td><%= incident.route %></td>
        <td><%= incident.vehicle %></td>
        <td><%= incident.location %></td>
        <td><%= incident.action_before %></td>
        <td><%= incident.action_during %></td>
        <td><%= incident.weather_conditions %></td>
        <td><%= incident.light_conditions %></td>
        <td><%= incident.road_conditions %></td>
        <td><%= incident.camera_used %></td>
        <td><%= incident.injuries %></td>
        <td><%= incident.damage %></td>
        <td><%= incident.description %></td>
        <td><%= link_to 'Show', incident %></td>
        <td><%= link_to 'Edit', edit_incident_path(incident) %></td>
        <td><%= link_to 'Destroy', incident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident', new_incident_path %>
