%h1 New Incident
- if @incident.errors.any?
  #error_explanation
    %h2
      This incident has
      = pluralize(@incident.errors.count, 'missing value')
      and so cannot be marked as completed.
    %ul
      - @incident.errors.full_messages.each do |message|
        %li= message
= form_with model: @incident, local: true do |form|
  = form.fields_for :driver_incident_report, IncidentReport.new do |driver_form|
    .field
      = driver_form.label :user_id, 'Driver'
      = driver_form.select :user_id,
        options_from_collection_for_select(@drivers, :id, :proper_name, current_user.id),
        { include_blank: true },
        id: :incident_driver_incident_report_attributes_user_id
    .field
      = driver_form.label :occurred_at
      - a11y_datetime_labels('incident_driver_incident_report_attributes_occurred_at').each do |label|
        = label
      = driver_form.datetime_select :occurred_at, id: :incident_driver_incident_report_attributes_occurred_at,
        prompt: true, ampm: true
  = form.fields_for :supervisor_incident_report, IncidentReport.new do |supervisor_form|
    .field
      = supervisor_form.label :user_id, 'Supervisor'
      = supervisor_form.select :user_id,
        options_from_collection_for_select(@supervisors, :id, :proper_name, current_user.id),
        { include_blank: true },
        id: :incident_supervisor_incident_report_attributes_user_id
  .actions= form.submit 'Create Incident Report'
= link_to 'Back', incidents_path
