%h1 New Incident
- if @incident.errors.any?
  #error_explanation
    %h2
      This incident has
      = pluralize(@incident.errors.count, "missing values")
      and so cannot be marked as completed.
    %ul
      - @incident.errors.full_messages.each do |message|
        %li= message
= form_with model: @incident, local: true do |form|
  = form.fields_for :driver_incident_report, IncidentReport.new do |driver_form|
    .field
      = driver_form.label :user_id, 'Driver'
      = driver_form.select :user_id,
        options_from_collection_for_select(@drivers, :id, :proper_name, @current_user.id),
        { include_blank: true }, id: :report_driver_id
  = form.fields_for :supervisor_incident_report, IncidentReport.new do |supervisor_form|
    .field
      = supervisor_form.label :user_id, 'Supervisor'
      = supervisor_form.select :user_id,
        options_from_collection_for_select(User.active.supervisors.name_order, :id, :proper_name, @current_user.id),
        { include_blank: true }, id: :report_supervisor_id
  .actions= form.submit 'Create Incident Report'
= link_to 'Back', incidents_path
