%h1.title Incident Report

- if current_user.staff?
  - if @incident.exported_to_claims?
    %em Exported to claims.
  - else
    = button_to 'Export to claims',
      claims_export_incident_path(@incident), class: 'btn btn-primary',
      disabled: !@incident.completed?
    - unless @incident.completed?
      %em Must be marked as completed before exporting to claims.
  .link= link_to 'Export XML (Hastus)', incident_path(@incident, format: :xml)
  .link= link_to 'Export CSV', incident_path(@incident, format: :csv)
  .link= link_to 'Print PDF', incident_path(@incident, format: :pdf)

  %p
    %strong= human_name :incident, :completed
    = yes_no_image @incident.completed?
  %p
    %strong= human_name :incident, :occurred_at
    = @incident.occurred_at_readable

  - if @incident.completed?
    %p
      %strong= human_name :incident, :latitude
      = @incident.latitude
    %p
      %strong= human_name :incident, :longitude
      = @incident.longitude
    %p
      %strong= human_name :incident, :root_cause_analysis
      = simple_format @incident.root_cause_analysis
    %p
      %strong= human_name :incident, :reason_code
      = @incident.reason_code.full_label
    %p
      %strong= human_name :incident, :supplementary_reason_code
      = @incident.supplementary_reason_code.full_label
    %p
      %strong= human_name :incident, :preventable
      = yes_no_image @incident.preventable
    %p
      %strong= human_name :incident, :video_pulled
      = yes_no_image @incident.video_pulled

%hr
.driver-incident-report
  %h2 Driver Incident Report
  = render 'incident_reports/show', report: @incident.driver_incident_report

- if @incident.supervisor.present?
  - if current_user.supervisor? || current_user.staff?
    %hr
    .supervisor-incident-report
      %h2 Supervisor Incident Report
      = render 'incident_reports/show',
        report: @incident.supervisor_incident_report

    %hr
    .supervisor-report
      %h2 Supervisor Report
      = render 'supervisor_reports/show', report: @incident.supervisor_report

- if @incident.completed?
  = render 'staff_reviews'

- if current_user.staff?
  = link_to 'Edit Incident', edit_incident_path(@incident)
%br
= link_to 'Back', incidents_path
