<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @incident.driver %>
</p>

<p>
  <strong>Occurred at:</strong>
  <%= @incident.occurred_at %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @incident.shift %>
</p>

<p>
  <strong>Route:</strong>
  <%= @incident.route %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @incident.vehicle %>
</p>

<p>
  <strong>Location:</strong>
  <%= @incident.location %>
</p>

<p>
  <strong>Action before:</strong>
  <%= @incident.action_before %>
</p>

<p>
  <strong>Action during:</strong>
  <%= @incident.action_during %>
</p>

<p>
  <strong>Weather conditions:</strong>
  <%= @incident.weather_conditions %>
</p>

<p>
  <strong>Light conditions:</strong>
  <%= @incident.light_conditions %>
</p>

<p>
  <strong>Road conditions:</strong>
  <%= @incident.road_conditions %>
</p>

<p>
  <strong>Camera used:</strong>
  <%= @incident.camera_used %>
</p>

<p>
  <strong>Injuries:</strong>
  <%= @incident.injuries %>
</p>

<p>
  <strong>Damage:</strong>
  <%= @incident.damage %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident.description %>
</p>

<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
