%h1.title Incident Report
%p#notice= notice

- if current_user.staff?
  .link= link_to 'Export XML', incident_url(@incident, format: :xml)
  .link= link_to 'Export CSV', incident_url(@incident, format: :csv)
  .link= link_to 'Print PDF', incident_url(@incident, format: :pdf)

  %p
    %strong= human_name :incident, :completed
    = yes_no_image @incident.completed?

  - if @incident.reason_code.present?
    %p
      %strong= human_name :incident, :reason_code
      = @incident.reason_code.full_label

%hr
.driver-incident-report
  %h2 Driver Incident Report
  = render 'incident_reports/show', report: @incident.driver_incident_report

- if @incident.supervisor.present?
  - if current_user.supervisor? || current_user.staff?
    %hr
    .supervisor-incident-report
      %h2 Supervisor Incident Report
      = render 'incident_reports/show',
        report: @incident.supervisor_incident_report

    %hr
    .supervisor-report
      %h2 Supervisor Report
      = render 'supervisor_reports/show', report: @incident.supervisor_report

- if @incident.completed?
  = render 'staff_reviews'

- if current_user.staff?
  = link_to 'Edit Incident', edit_incident_url(@incident)
%br
= link_to 'Back', incidents_url
