%h1.title Incident Report
%p#notice= notice

%hr
%h2 Driver Incident Report
= render partial: 'incident_reports/show',
  locals: { report: @incident.driver_incident_report }

%hr
%h2 Supervisor Incident Report
= render partial: 'incident_reports/show',
  locals: { report: @incident.supervisor_incident_report }

%hr
%h2 Supervisor Report
= render partial: 'supervisor_reports/show',
  locals: { report: @incident.supervisor_report }

- if @incident.completed?
  = render partial: 'staff_reviews'

= link_to 'Back', incidents_path
