= form_with model: report, local: true do |form|
  - if report.errors.any?
    #error_explanation
      %h2
        This supervisor report has
        = pluralize(report.errors.count, 'missing value')
        and so cannot be marked as completed.
      %ul
        - report.errors.full_messages.each do |message|
          %li= message
  .basic-info
    .field
      = form.label :pictures_saved?
      = form.check_box :pictures_saved, id: :supervisor_report_pictures_saved
    .saved-pictures-info{style: ('display: none;' unless report.pictures_saved?)}
      .field
        = form.label :saved_pictures
        = form.number_field :saved_pictures, id: :supervisor_report_saved_pictures
    .field
      = form.label :passenger_statement
      = form.text_area :passenger_statement, id: :supervisor_report_passenger_statement,
        size: '80x8'
    .field
      = form.label :faxed
      - a11y_datetime_labels('report_faxed').each do |label|
        = label
      = form.datetime_select :faxed, id: :supervisor_report_faxed, prompt: true, ampm: true
    .field
      = form.label :witness_info
      = form.check_box :witness_info, checked: report.has_witnesses?,
        id: :supervisor_report_witness_info
    .witness-info{style: ('display: none;' unless report.has_witnesses?)}
      %h3 Witness Information
      = form.fields_for :witnesses do |witness_form|
        .witness-fields
          .field
            = witness_form.label :name
            = witness_form.text_field :name
            = witness_form.label :address
            = witness_form.text_field :address
            = witness_form.label :onboard_bus
            = witness_form.check_box :onboard_bus
          .field
            = witness_form.label :home_phone
            = witness_form.text_field :home_phone
            = witness_form.label :cell_phone
            = witness_form.text_field :cell_phone
            = witness_form.label :work_phone
            = witness_form.text_field :work_phone
      %button.btn-default.add-witness Add witness info
    .field
      = form.label :completed_drug_or_alcohol_test?
      = form.check_box :completed_drug_or_alcohol_test, id: :supervisor_report_completed_drug_or_alcohol_test
    .no-test-info{style: ('display: none;' if report.completed_drug_or_alcohol_test?)}
      %h3 Please document why a test was not conducted.
      .field
        = form.label :fta_threshold_not_met
        = form.check_box :fta_threshold_not_met, id: :supervisor_report_fta_threshold_not_met
      .fta-threshold-info{style: ('display: none;' unless report.fta_threshold_not_met?)}
        = form.label :reason_threshold_not_met
        = form.text_area :reason_threshold_not_met, id: :supervisor_report_reason_threshold_not_met,
          size: '80x4'
      .field
        = form.label :driver_discounted
        = form.check_box :driver_discounted, id: :supervisor_report_driver_discounted
      .driver-discounted-info{style: ('display: none;' unless report.driver_discounted?)}
        = form.label :reason_driver_discounted
        = form.text_area :reason_driver_discounted, id: :supervisor_report_reason_driver_discounted,
          size: '80x4'
    .test-info{style: ('display: none;' unless report.completed_drug_or_alcohol_test?)}
      .field
        = form.label :reason_test_completed
        = form.select :reason_test_completed,
          options_for_select(SupervisorReport::REASONS_FOR_TEST), { include_blank: true },
          id: :supervisor_report_reason_test_completed
      .post-accident-info{style: ('display: none;' unless report.post_accident?)}
        .field
          = form.label :test_due_to_bodily_injury?
          = form.check_box :test_due_to_bodily_injury, id: :supervisor_report_test_due_to_bodily_injury
        .field
          = form.label :test_due_to_disabling_damage?
          = form.check_box :test_due_to_disabling_damage, id: :supervisor_report_test_due_to_disabling_damage
        .field
          = form.label :test_due_to_fatality?
          = form.check_box :test_due_to_fatality, id: :supervisor_report_test_due_to_fatality
      .reasonable-suspicion-info{style: ('display: none;' unless report.reasonable_suspicion?)}
        .field
          = form.label :completed_drug_test?
          = form.check_box :completed_drug_test, id: :supervisor_report_completed_drug_test
        .field
          = form.label :completed_alcohol_test?
          = form.check_box :completed_alcohol_test, id: :supervisor_report_completed_alcohol_test
        .field
          = form.label :observation_made_at
          - a11y_datetime_labels('report_observation_made_at').each do |label|
            = label
          = form.datetime_select :observation_made_at, id: :supervisor_report_observation_made_at,
            prompt: true, ampm: true
        .field
          = form.label :test_due_to_employee_appearance?
          = form.check_box :test_due_to_employee_appearance,
            id: :supervisor_report_test_due_to_employee_appearance
        .employee-appearance-info{style: ('display: none;' unless report.test_due_to_employee_appearance?)}
          .field
            = form.label :employee_appearance
            = form.text_field :employee_appearance, id: :supervisor_report_employee_appearance
        .field
          = form.label :test_due_to_employee_behavior?
          = form.check_box :test_due_to_employee_behavior,
            id: :supervisor_report_test_due_to_employee_behavior
        .employee-behavior-info{style: ('display: none;' unless report.test_due_to_employee_behavior?)}
          .field
            = form.label :employee_behavior
            = form.text_field :employee_behavior, id: :supervisor_report_employee_behavior
        .field
          = form.label :test_due_to_employee_speech?
          = form.check_box :test_due_to_employee_speech,
            id: :supervisor_report_test_due_to_employee_speech
        .employee-speech-info{style: ('display: none;' unless report.test_due_to_employee_speech?)}
          .field
            = form.label :employee_speech
            = form.text_field :employee_speech, id: :supervisor_report_employee_speech
        .field
          = form.label :test_due_to_employee_odor?
          = form.check_box :test_due_to_employee_odor,
            id: :supervisor_report_test_due_to_employee_odor
        .employee-odor-info{style: ('display: none;' unless report.test_due_to_employee_odor?)}
          .field
            = form.label :employee_odor
            = form.text_field :employee_odor, id: :supervisor_report_employee_odor
      .field
        = form.label :testing_facility
        = form.select :testing_facility,
          options_for_select(SupervisorReport::TESTING_FACILITIES),
          include_blank: true, id: :supervisor_report_testing_facility
      %h3 Testing Timeline
      .field
        = form.label :testing_facility_notified_at
        - a11y_datetime_labels('report_testing_facility_notified_at').each do |label|
          = label
        = form.datetime_select :testing_facility_notified_at,
          id: :supervisor_report_testing_facility_notified_at, ampm: true, prompt: true
      .field
        = form.label :employee_notified_of_test_at
        - a11y_datetime_labels('report_employee_notified_of_test_at').each do |label|
          = label
        = form.datetime_select :employee_notified_of_test_at,
          id: :supervisor_report_employee_notified_of_test_at, ampm: true, prompt: true
      .field
        = form.label :employee_departed_to_test_at
        - a11y_datetime_labels('report_employee_departed_to_test_at').each do |label|
          = label
        = form.datetime_select :employee_departed_to_test_at,
          id: :supervisor_report_employee_departed_to_test_at, ampm: true, prompt: true
      .field
        = form.label :employee_arrived_at_test_at
        - a11y_datetime_labels('report_employee_arrived_at_test_at').each do |label|
          = label
        = form.datetime_select :employee_arrived_at_test_at,
          id: :supervisor_report_employee_arrived_at_test_at, ampm: true, prompt: true
      .field
        = form.label :test_started_at
        - a11y_datetime_labels('report_test_started_at').each do |label|
          = label
        = form.datetime_select :test_started_at,
          id: :supervisor_report_test_started_at, ampm: true, prompt: true
      .field
        = form.label :test_ended_at
        - a11y_datetime_labels('report_test_ended_at').each do |label|
          = label
        = form.datetime_select :test_ended_at,
          id: :supervisor_report_test_ended_at, ampm: true, prompt: true
      .field
        = form.label :employee_returned_at
        - a11y_datetime_labels('report_employee_returned_at').each do |label|
          = label
        = form.datetime_select :employee_returned_at,
          id: :supervisor_report_employee_returned_at, ampm: true, prompt: true
      %strong If applicable:
      .field
        = form.label :superintendent_notified_at
        - a11y_datetime_labels('report_superintendent_notified_at').each do |label|
          = label
        = form.datetime_select :superintendent_notified_at,
          id: :supervisor_report_superintendent_notified_at, ampm: true, prompt: true
      .field
        = form.label :program_manager_notified_at
        - a11y_datetime_labels('report_program_manager_notified_at').each do |label|
          = label
        = form.datetime_select :program_manager_notified_at,
          id: :supervisor_report_program_manager_notified_at, ampm: true, prompt: true
      .field
        = form.label :director_notified_at
        - a11y_datetime_labels('report_director_notified_at').each do |label|
          = label
        = form.datetime_select :director_notified_at,
          id: :supervisor_report_director_notified_at, ampm: true, prompt: true
      .field
        = form.label :amplifying_comments
        = form.text_area :amplifying_comments, id: :supervisor_report_amplifying_comments,
          size: '80x4'
    .actions
      = form.submit 'Save supervisor report'
