- if report.last_update.present?
  %p
    %em
      Last changed
      = report.last_updated_at
      by
      = report.last_updated_by
    |
    = link_to 'View full history', history_supervisor_report_url(report)
%p
  %strong= human_name :pictures_saved?
  = yes_no_image report.pictures_saved?
- if report.pictures_saved?
  %p
    %strong= human_name :saved_pictures
    = report.saved_pictures
%p
  %strong= human_name :passenger_statement
  = simple_format report.passenger_statement
- if report.faxed.present?
  %p
    %strong= human_name :faxed
    = report.faxed.try :strftime, '%A, %B %e, %Y %l:%M %P'
- if report.witnesses.present?
  %p
    %strong Witness Information:
    %ol
      - report.witnesses.each do |witness|
        %li= witness.display_info
- if report.injured_passengers.present?
  %p
    %strong Injured Passenger Information:
    %ol
      - report.injured_passengers.each do |pax|
        %li= pax.display_info
%p
  %strong= human_name :completed_drug_or_alcohol_test?
  = yes_no_image report.completed_drug_or_alcohol_test?
- if report.completed_drug_or_alcohol_test?
  %p
    %strong= human_name :reason_test_completed
    = report.reason_test_completed
  - case report.reason_test_completed
  - when 'Post-Accident'
    %p
      %strong= human_name :test_not_conducted?
      = yes_no_image report.test_not_conducted?
    %p
      %strong= human_name :test_due_to_bodily_injury?
      = yes_no_image report.test_due_to_bodily_injury?
    %p
      %strong= human_name :test_due_to_disabling_damage?
      = yes_no_image report.test_due_to_disabling_damage?
    %p
      %strong= human_name :test_due_to_fatality?
      = yes_no_image report.test_due_to_fatality?
  - when 'Reasonable Suspicion'
    %p
      %strong= human_name :completed_drug_test?
      = yes_no_image report.completed_drug_test?
    %p
      %strong= human_name :completed_alcohol_test?
      = yes_no_image report.completed_alcohol_test?
    %p
      %strong= human_name :observation_made_at
      = report.observation_made_at.try :strftime, '%l:%M %P'
    %p
      %strong= human_name :test_due_to_employee_appearance?
      = yes_no_image report.test_due_to_employee_appearance?
    - if report.test_due_to_employee_appearance?
      %p
        %strong= human_name :employee_appearance
        = report.employee_appearance
    %p
      %strong= human_name :test_due_to_employee_speech?
      = yes_no_image report.test_due_to_employee_speech?
    - if report.test_due_to_employee_speech?
      %p
        %strong= human_name :employee_speech
        = report.employee_speech
    %p
      %strong= human_name :test_due_to_employee_behavior?
      = yes_no_image report.test_due_to_employee_behavior?
    - if report.test_due_to_employee_behavior?
      %p
        %strong= human_name :employee_behavior
        = report.employee_behavior
    %p
      %strong= human_name :test_due_to_employee_odor?
      = yes_no_image report.test_due_to_employee_odor?
    - if report.test_due_to_employee_odor?
      %p
        %strong= human_name :employee_odor
        = report.employee_odor
  %p
    %strong= human_name :testing_facility
    = report.testing_facility
  - if report.testing_facility_notified_at.present?
    %p
      %strong= human_name :testing_facility_notified_at
      = report.testing_facility_notified_at.strftime '%l:%M %P'
  - if report.employee_notified_of_test_at.present?
    %p
      %strong= human_name :employee_notified_of_test_at
      = report.employee_notified_of_test_at.strftime '%l:%M %P'
  - if report.employee_departed_to_test_at.present?
    %p
      %strong= human_name :employee_departed_to_test_at
      = report.employee_departed_to_test_at.strftime '%l:%M %P'
  - if report.employee_arrived_at_test_at.present?
    %p
      %strong= human_name :employee_arrived_to_test_at
      = report.employee_arrived_at_test_at.strftime '%l:%M %P'
  - if report.test_started_at.present?
    %p
      %strong= human_name :test_started_at
      = report.test_started_at.strftime '%l:%M %P'
  - if report.test_ended_at.present?
    %p
      %strong= human_name :test_ended_at
      = report.test_ended_at.strftime '%l:%M %P'
  - if report.superintendent_notified_at.present?
    %p
      %strong= human_name :superintendent_notified_at
      = report.superintendent_notified_at.strftime '%l:%M %P'
  - if report.program_manager_notified_at.present?
    %p
      %strong= human_name :program_manager_notified_at
      = report.program_manager_notified_at.strftime '%l:%M %P'
  - if report.director_notified_at.present?
    %p
      %strong= human_name :director_notified_at
      = report.director_notified_at.strftime '%l:%M %P'
  - if report.amplifying_comments.present?
    %p
      %strong= human_name :amplifying_comments
      = simple_format report.amplifying_comments
- if @current_user.staff? || @current_user == report.incident.supervisor
  = link_to 'Edit', edit_supervisor_report_url(report)
