= form_for user do |f|
  %table.edit-form
    %tr
      %td= f.label :name
      %td= f.text_field :name, required: true
    %tr
      %td= f.label :email
      %td= f.text_field :email, required: true
    %tr
      %td= f.label :staff
      %td= f.check_box :staff
    %tr
      %td= f.label :password
      %td= f.password_field :password
    %tr
      %td= f.label :password_confirmation
      %td= f.password_field :password_confirmation
    %tr
      %td= submit_tag 'Save user', class: 'btn btn-primary submit'
