- if user.errors.present?
  #error_explanation
    %ul
      - user.errors.full_messages.each do |message|
        %li= message
= form_for user do |f|
  %table.edit-form
    %tr
      %td= f.label :first_name
      %td= f.text_field :first_name, required: true
    %tr
      %td= f.label :last_name
      %td= f.text_field :last_name, required: true
    %tr
      %td= f.label :badge_number
      %td= f.text_field :badge_number
    %tr
      %td= f.label :hastus_id
      %td= f.text_field :hastus_id
    %tr
      %td= f.label :division_ids
      %td= f.select :division_ids,
        options_from_collection_for_select(Division.order(:name), :id, :name, user.divisions.pluck(:id)),
        { }, multiple: true
    %tr
      %td= f.label :supervisor
      %td= f.check_box :supervisor
    %tr
      %td= f.label :staff
      %td= f.check_box :staff
    %tr
      %td= f.label :email, 'Email (for incident notifications)'
      %td= f.text_field :email
    %tr
      %td{colspan: 2}
        %i
          Staff members with an email provided will
          be automatically sent email notifications.
    %tr
      %td{ colspan: 2 }= f.submit 'Save driver', class: 'btn btn-primary submit'
