- if @inactive
  %h1 Inactive Users
- else 
  %h1 Active Users

.center= link_to 'Add New User', new_user_path
.center= link_to 'Import User Data', import_users_path

.center
  - if params[:inactive]
    = link_to 'Manage active users', users_path
  - elsif User.inactive.present?
    = link_to 'Manage inactive users', users_path(inactive: true)

.filters.groups
  %button.btn.btn-primary All
  %button.btn Drivers
  %button.btn Supervisors
  %button.btn Staff

%table.index
  %thead
    %tr
      %th Name
      %th Badge Number
      %th Division(s)
      %th Supervisor?
      %th Staff?
      %th{ colspan: 5 }
  %tbody
    - @users.each do |user|
      %tr{ data: { group: user.group } }
        %td= user.proper_name
        %td= user.badge_number
        %td= user.divisions.pluck(:name).join ', '
        %td= yes_no_image user.supervisor?
        %td= yes_no_image user.staff?
        %td
          - if user.driver?
            = link_to incidents_user_path(user) do
              %button.btn.btn-default View incidents
        %td
          = link_to edit_user_path(user) do
            %button.btn.btn-default Edit
        %td
          - if user.active?
            = link_to deactivate_user_path(user), method: :post do
              %button.btn.btn-default.delete Deactivate
          - else
            = link_to reactivate_user_path(user), method: :post do
              %button.btn.btn-default.delete Reactivate
        %td
          = link_to reset_password_user_path(user), method: :post do
            %button.btn.btn-default Reset Password
        %td
          = link_to user_path(user), method: :delete do
            %button.btn.btn-default.delete Delete
