!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}
    %title Incidents
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: "https://maps.google.com/maps/api/js?key=#{Rails.application.secrets.google_maps_api_key}" }
    = favicon_link_tag
  %body
    = render 'layouts/navbar'
    #main-panel.panel.panel-default
      .panel-body
        .info
          - if flash[:notice].present?
            %p.notice= flash[:notice]
          - if flash[:alert].present?
            %p.alert= flash[:alert]
          - if flash[:errors].present?
            - flash[:errors].each do |error|
              %p.errors= error
        = yield
